{% extends '_base_basic.html' %}
{% load static %}
{% block body %}
  <h1>О проекте "Вышка.Словари"</h1>

    <p>
    Вышка.Словари - это веб-ресурс, на котором собрано большое количество как переводных, так и толковых словарей, по которым пользователь может совершать поиск. 
    </p>
    <p>
    Чем проект "Вышка.Словари" отличается от существующих словарных ресурсов?
    </p>
    <ul>
        <li>В наш проект планируется включить данные уникальных словарей, которые еще не выложены в открытый доступ, таких как, например, “Активный словарь русского языка” (под редакцией Ю. Д. Апресяна) и “Словарь бытовой терминологии русского языка” Б. Л. Иомдина.</li>
        <li>Наш лексикографический ресурс активно использует возможности современной компьютерной лингвистики: автоматическое извлечение коллокаций, предоставление данных о частотности слов, об их сочетании и использовании. </li>
        <li>Ресурс существует не только как онлайн-словарь, но и как агрегатор данных: другие пользователи смогут загружать на ресурс свои собственные словари в формате TEI, которые автоматически обрабатываются и добавляются в базу данных Вышка.Словарей.</li>
    </ul>
    <p>Объединение в одном проекте большого количества общедоступных словарей, авторских, недоступных в сети материалов и количественных данных делает Вышка.Словари уникальным лексикографическим ресурсом.</p>

    <p></p>

    <p class="text-danger">Сейчас проект находится в разработке и вы смотрите beta-версию.</p>

    <h3 class="text-center">Загруженные файлы</h3>
		<form method="post" class="form-horizontal" role="form">
			{% csrf_token %}
            <table  class="table">
            <thead>
            <tr><th>Название</th>
                <th>Имя файла</th>
            <td>Дата</td>
            <td>Кто загрузил</td></tr>
            </thead>
            <tbody>
			{% for f in files %}
                <tr>
                <td>{{ f.name }}</td>
                    <td><a href="{{ f.file.url }}"> {{ f.file }}</a></td>
                    <td>{{ f.uploaded_at }}</td>
                    <td>{{ f.user.last_name }} {{ f.user.first_name }}</td>
                </tr>

            {% endfor %}
            </tbody>
            </table>
{% endblock %}
