{% extends '_base_basic.html' %}

{% block body %}
  <h1>Помощь</h1>

    <h3>Как загрузить словарь?</h3>

    <ol>
        <li>Чтобы загрузить словарь, нужно <a href="{% url 'register' %}?next={{ request.path }}">зарегистрироваться</a> и <a href="{% url 'login' %}?next={{ request.path }}">войти</a> под своим логином. При регистрации, пожалуйста, укажите ваши настоящие имя и фамилию.</li>
        <li>Зайдите на страницу своего профиля. Ссылка на страницу находится в верхнем меню справа: там отображается ваше имя.</li>
        <li>Теперь вы можете перейти к загрузке словаря или просмотру ваших загруженных файлов.</li>
        <li>После загрузки нужно убедиться, что ваш словарь появился на странице <a href="{% url 'about' %}">О проекте</a>.</li>

    </ol>

    <p>Если файл со словарем очень большой, то его загрузка на сервер может длиться довольно долго - придется подождать.</p>
    <p>Если вы хотите заменить словарь, то старую версию можно удалить в списке ваших загруженных файлов.</p>
{% endblock %}