<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang=""> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="apple-touch-icon" href="apple-touch-icon.png">

        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
        <style>
            body {
                padding-top: 50px;
                padding-bottom: 20px;
            }
        </style>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

		<script src="{{ url_for('static', filename='js/vendor/modernizr-2.8.3-respond-1.4.2.min.js') }}"></script>
		<script src="{{ url_for('static', filename='js/main.js') }}"></script>
    </head>
    <body>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{{ url_for('main_page') }}">Вышка.Словари</a>
		  <a class="navbar-brand" href="{{ url_for('about_page') }}">О проекте</a>
		  <a class="navbar-brand" href="#">О словарях</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <form class="navbar-form navbar-right" role="form">
            <a type="submit" class="btn btn-success" href="Vyshka_slovari_enter" style="color:white">Войти</a>
			<a type="submit" class="btn btn-success" href="Vyshka_slovari_register" style="color:white">Регистрация</a>
          </form>
        </div><!--/.navbar-collapse -->
      </div>
    </nav>
	
		<div class="container" class="col-md-12">
			
			<div class="info row">
				<h2>В текущей версии Вышка-Словарей поиск осуществляется по следующим словарям</h2>
				<br>
				<p><i>Толковый словарь Кузнецова</i></p>
				<div class="col-md-10">
					<p>
					Толковый словарь Кузнецова или Большой толковый словарь русского языка (БТС) - один из крупнейших толковых словарей русского 
					языка, созданный под редакцией советского и российского лингвиста, доктора филологических наук, профессора С. А. Кузнецова. 
					В словаре представлена информация о значении слов, их грамматических характеристиках, этимологии, стилистике,
					произношении и правописании. Приводятся примеры употребления слова, в том числе во фразеологических оборотах. В словаре
					содержится около 130 000 слов.
					</p>
				</div>
				<div class="col-md-2">
					<img src="{{ url_for('static', filename='img/kuznetsov.jpg') }}" width=200 height=250>
				</div>
			</div>

			<div class="info row">
				<p><i>Словарь антонимов русского языка</i></p>
				<div class="col-md-10">
					<p>
					Словарь антонимов русского языка М. Р. Львова под редакцией Л. А. Новикова представлен четвертым дополненным изданием 
					1988 года. Содержит несколько тысяч антонимических пар.
					</p>
				</div>
				<div class="col-md-2">
					<img src="{{ url_for('static', filename='img/lvov.jpg') }}" width=200 height=250>
				</div>
			</div>

			<div class="info row">
				<p><i>Словарь русских синонимов</i></p>
				<div class="col-md-10">
					<p>
					Словарь русских синонимов и сходных по смыслу выражений впервые был издан в 1900 году лексикографом Н. А. Переферковичем 
					(автор использовал псевдоним "Н. Абрамов", поэтому этот словарь известен как "Словарь синонимов Абрамова").
					На Вышка.Словарях представлено пятое издание этого словаря, дополненное и исправленное. Содержит более 20 000
					слов.
					</p>
				</div>
				<div class="col-md-2">
					<img src="{{ url_for('static', filename='img/abramov.jpeg') }}" width=200 height=250>
				</div>
			</div>
	  
			<div class="info row">
				<p><i>Словарь эпитетов</i></p>
				<div class="col-md-10">
					<p>
					В Словаре эпитетов русского литературного языка К. С. Горбачевича и Е. П. Хабло содержатся эпитеты
					из художественных и общественно-политических произведений русской и советской литературы. Содержит около
					50 000 эпитетов.
					</p>
				</div>
				<div class="col-md-2">
					<img src="{{ url_for('static', filename='img/epitet.jpg') }}" width=200 height=250>
				</div>
			</div>
	  
			<div class="info row">
				<p><i>Большой энциклопедический словарь</i></p>
				<div class="col-md-10">
					<p>
					Большой энциклопедический словарь - это универсальный справочник, охватывающий огромное количество 
					сфер знания. В Вышка.Словарях представлено второе, последнее, издание этого словаря,
					включающее в себя около 80 000 статей, в том числе около 20 000 биографий.
					</p>
				</div>
				<div class="col-md-2">
					<img src="{{ url_for('static', filename='img/bes.jpg') }}" width=200 height=250>
				</div>
			</div>
		</div>
	  
	  <hr>

      <footer>

      </footer>
    </div>
    </body>
</html>
