{%extends "Slovar_extended_search.html"%}

{% block button %}
	<a href="{{ url_for('extended_search_page') }}" class="btn" style="float:right; margin-top: 5px;">Очистить поиск</a>
{% endblock %}

{% block extended %}
	<h2>Результаты поиска:</h2>
	<h5>Найдено слов: {{ length }}</h5>
	<form method="POST" enctype="multipart/form-data">
		<a href="{{ url_for('download', filename=filename) }}" style="padding-left:10px;">Скачать результаты (csv)</a>
	</form>
	<table class="extended_table">
		<tr>
			<th>Словоформа</th>
			<th style="padding-left:10px;">Значение</th>
		</tr>
	{% for res in result%}
		<tr>
			<td><a href="{{ url_for('show_entries', word=res[0]) }}">{{ res[0] }}</a></td>
			<td style="padding-left:10px;">{{ res[2] }}</td>
		</tr>	
	{% endfor %}
	</table>

{% endblock %}