{%extends "Slovar_main.html"%}

{% block content %}
	<div class="container" style="font-family:Verdana;">
	<h2>Результаты поиска: {{ word }}</h2>
	{% if meaning2[0][0]=='Нет информации' and meaning3[0][0]=='Нет информации' and usage[0][0]=='Нет информации' and etymology[0][0]=='Нет информации' and epithets[0][1]=='—' and meaning1[0][0]=='Нет информации' and synonyms[0][1]=='—' and antonyms[0][1]=='—' and example[0][0]=='Нет информации' and part_of_speech[0]==' — ' and gender[0]==' — ' and aspect[0]==' — ' and reflex[0]==' — ' and govern[0]==' — ' and  stress[0][0]=='Нет информации' %}
		<p>По вашему запросу ничего не найдено :(</p>
	{% endif %}
	{% if meaning1 or meaning2 or meaning3 or stress %}
		<div class="col-md-6">
		{% if meaning1[0][0]!='Нет информации' or meaning2[0][0]!='Нет информации' or meaning3[0][0]!='Нет информации' %}
			<div class="card">
				<h3>Значение:</h3>
				{% if meaning2[0][0]!='Нет информации' and meaning1[0][0]!='Нет информации' and meaning3[0][0]!='Нет информации' %}
					{% for meaning in meaning2 %}
						<p>{{ meaning[0] }}</p>
					{% endfor %}
					<p style="float:right;">{{ meaning2[0][1] }}</p>
					<br>
					<a id="examples" href="#" onclick="toggle(more_examples)">Значения в других словарях</a>
					<div id="more_examples" style="display:none">
					<script>
						function toggle(el) {
							el.style.display = (el.style.display == 'none') ? '' : 'none'
							}
					</script>
					<br>

					{% for meaning in meaning1 %}
						<p>{{ meaning[0] }}</p>
					{% endfor %}
						<p style="float:right;">{{ meaning1[0][1] }}</p>
						<br>
					{% for meaning in meaning3%}
						<p>{{ meaning[0] }}</p>
						<br>
					{% endfor %}
						<p style="float:right;">{{ meaning3[0][1] }}</p>
						<br>
					</div>	
				{% elif meaning1[0][0]!='Нет информации' and meaning2[0][0]!='Нет информации' and meaning3[0][0]=='Нет информации' %}
					{% for meaning in meaning1 %}
						<p>{{ meaning[0] }}</p>
					{% endfor %}
						<p style="float:right;">{{ meaning1[0][1] }}</p>
						<br>
						<a id="examples" href="#" onclick="toggle(more_examples)">Значения в других словарях</a>
					<div id="more_examples" style="display:none">
					<script>
						function toggle(el) {
							el.style.display = (el.style.display == 'none') ? '' : 'none'
							}
					</script>
					<br>
					{% for meaning in meaning2 %}
						<p>{{ meaning[0] }}</p>
					{% endfor %}
					<p style="float:right;">{{ meaning2[0][1] }}</p>
					<br>
					</div>
				{% elif meaning1[0][0]!='Нет информации' and meaning2[0][0]=='Нет информации' and meaning3[0][0]!='Нет информации' %}
					{% for meaning in meaning1 %}
						<p>{{ meaning[0] }}</p>
					{% endfor %}
						<p style="float:right;">{{ meaning1[0][1] }}</p>
						<br>
						<a id="examples" href="#" onclick="toggle(more_examples)">Значения в других словарях</a>
					<div id="more_examples" style="display:none">
					<script>
						function toggle(el) {
							el.style.display = (el.style.display == 'none') ? '' : 'none'
							}
					</script>
					<br>
					{% for meaning in meaning3 %}
						<p>{{ meaning[0] }}</p>
					{% endfor %}
					<p style="float:right;">{{ meaning3[0][1] }}</p>
					<br>
					</div>
				{% elif meaning1[0][0]=='Нет информации' and meaning2[0][0]!='Нет информации' and meaning3[0][0]!='Нет информации' %}
					{% for meaning in meaning2 %}
						<p>{{ meaning[0] }}</p>
					{% endfor %}
						<p style="float:right;">{{ meaning2[0][1] }}</p>
						<br>
						<a id="examples" href="#" onclick="toggle(more_examples)">Значения в других словарях</a>
					<div id="more_examples" style="display:none">
					<script>
						function toggle(el) {
							el.style.display = (el.style.display == 'none') ? '' : 'none'
							}
					</script>
					<br>
					{% for meaning in meaning3 %}
						<p>{{ meaning[0] }}</p>
					{% endfor %}
					<p style="float:right;">{{ meaning3[0][1] }}</p>
					<br>
					</div>
				{% elif meaning1[0][0]=='Нет информации' and meaning2[0][0]!='Нет информации' and meaning3[0][0]=='Нет информации' %}
					{% for meaning in meaning2 %}
						<p>{{ meaning[0] }}</p>
					{% endfor %}
					<p style="float:right;">{{ meaning2[0][1] }}</p>
					<br>
				{% elif meaning1[0][0]!='Нет информации' and meaning2[0][0]=='Нет информации' and meaning3[0][0]=='Нет информации' %}
					{% for meaning in meaning1 %}
						<p>{{ meaning[0] }}</p>
					{% endfor %}
					<p style="float:right;">{{ meaning1[0][1] }}</p>
					<br>
				{% elif meaning1[0][0]=='Нет информации' and meaning2[0][0]=='Нет информации' and meaning3[0][0]!='Нет информации' %}
					{% for meaning in meaning3 %}
						<p>{{ meaning[0] }}</p>
					{% endfor %}
					<p style="float:right;">{{ meaning3[0][1] }}</p>
					<br>
				{% endif %}
			</div>
			{% if example[0][0]!='Нет информации' %}
				<div class="card">
					<h3>Примеры употребления:</h3>
                        <p>{{ example[0][0] }}</p>
				</div>
			{% endif%}
		{% endif %}
		{% if stress[0][0]!='Нет информации'%}
			<div class="card">
				<h3>Ударение:</h3>
                       <p>{{ stress[0][0] }}</p>
			</div>
			
		{% endif %}
		</div>
	{% endif %}
	{% if antonyms or synonyms or epithets or etymology or usage or part_of_speech or gender or aspect or govern %}
		<div class="col-md-6">
		{% if part_of_speech[0]!=' — ' or gender[0]!=' — ' or reflex[0]!=' — ' or aspect[0]!=' — ' or govern[0]!=' — ' %}
				<div class="card">
					<h3>Грамматическая информация:</h3>
					{% if part_of_speech[0]!=' — ' %}
						<p> Часть речи: {{ part_of_speech[0] }}</p>
					{% endif %}
					{% if gender[0]!=' — ' %}
						<p> Род: {{ gender[0] }}</p>
					{% endif %}
					{% if aspect[0]!=' — ' %}
						<p> Вид: {{ aspect[0] }}</p>
					{% endif %}
					{% if govern[0]!=' — ' %}
						<p> Управление: {{ govern[0] }}</p>
					{% endif %}
					{% if reflex[0]!=' — ' %}
						<p>Залог: {{ reflex[0] }}</p>
					{% elif part_of_speech[0]=='   глаг.   ' and reflex[0]==' — ' %}
						<p>Залог: невозвр.</p>
					{% endif %}
				</div>
			{% endif %}
		{% if antonyms[0][1]!='—' %}
			<div class="card">
				<h3>Антонимы:</h3>
				<p>{% for ant in antonyms[0][0] %}<a href="{{ url_for('show_entries', word=ant) }}">{{ ant }}</a>{% if ant!=antonyms[0][0][-1] %}, {% endif %}{% endfor %}</p>
				<p style="float:right;">{{ antonyms[0][1] }}</p>
				<br>
			</div>
		{% endif %}
		{% if synonyms[0][1]!='—' %}
			<div class="card">
				<h3>Синонимы:</h3>
				<p>{% for syn in synonyms[0][0] %}<a href="{{ url_for('show_entries', word=syn) }}">{{ syn }}</a>{% if syn!=synonyms[0][0][-1] %}, {% endif %}{% endfor %}</p>
				<p style="float:right;">{{ synonyms[0][1] }}</p>
				<br>
			</div>
		{% endif %}
		{% if epithets[0][1]!='—' %}
			<div class="card">
				<h3>Эпитеты:</h3>
				{% for epith in epithets[0][0] %}<a href="{{ url_for('show_entries', word=epith) }}">{{ epith }}</a> {% if epith!=epithets[0][0][-1] %}, {% endif %}{% endfor %}
				<p style="float:right;">{{ epithets[0][1] }}</p>
				<br>
			</div>
		{% endif %}
		{% if etymology[0][0]!='Нет информации' %}
			<div class="card">
				<h3>Этимология:</h3>
				<p>{{ etymology[0][0] }}</p>
				<p style="float:right;">{{ etymology[0][1] }}</p>
				<br>
			</div>
		{% endif %}
		{% if usage[0][0]!='Нет информации' %}
			<div class="card">
				<h3>Пометы:</h3>
				<p>{{ usage[0][0] }}</p>
				<p style="float:right;">{{ usage[0][1] }}</p>
				<br>
			</div>
		{% endif %}
		</div>
	{% endif %}
	</div>

{% endblock %}