<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang=""> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="apple-touch-icon" href="apple-touch-icon.png">

        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
        <style>
            body {
                padding-top: 50px;
                padding-bottom: 20px;
            }
        </style>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

		<script src="{{ url_for('static', filename='js/vendor/modernizr-2.8.3-respond-1.4.2.min.js') }}"></script>
		<script src="{{ url_for('static', filename='js/main.js') }}"></script>
    </head>
    <body>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{{ url_for('main_page') }}">Вышка.Словари</a>
		  <a class="navbar-brand" href="{{ url_for('about_page') }}">О проекте</a>
		  <a class="navbar-brand" href="{{ url_for('about_dict') }}">О словарях</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <form class="navbar-form navbar-right" role="form">
            <a type="submit" class="btn btn-hse" href="{{ url_for('enter_page') }}" style="color:white">Войти</a>
			<a type="submit" class="btn btn-hse" href="{{ url_for('register_page') }}" style="color:white">Регистрация</a>
          </form>
        </div><!--/.navbar-collapse -->
      </div>
    </nav>

	<div class="container" class="col-md-12">
	  <div class="info col-md-12">
	    <p>Вернуться к <a href="{{ url_for('extended_search_page') }}">расширенному поиску</a></p>
	    <h1 class="title">Как работает базовый и расширенный поиск? </h1>
		  <p><b>Базовый поиск</b> агрегирует информацию по запрашиваемому слову из всех доступных словарей на одной странице.</p>
		  <p><b>Расширенный поиск</b> работает на основе настраиваемого пользовательского запроса. При расширенном поиске в качестве
		  результата выдается список всех слов, соответствующих запросу. На странице показывается только слово и его значение, а полная 
		  информация о каждом слове доступна в csv-файле, который можно скачать со страницы.</a></p>
		<h1 class="subtitle">Таблица имеющихся в словарях типов информации </h1>
		  <p><b>Жирным шрифтом</b> выделены типы информации, поиск по которым доступен в расширенном поиске.
		  Со временем будут добавляться новые словари и опции расширенного поиска.</p>
		  <br>
		<table class="tag_table">
		  <thead class="tag_table">
		    <tr>
		      <td><i>Словарь</i></td>
			  <td><i>Имеющиеся типы информации</i></td>
		    </tr>
		  </thead>
		  <tbody class="tag_table">
		    <tr>
		      <td>Толковый словарь Кузнецова</td>
			  <td>Значение, примеры употребления, ударение, <b>часть речи</b>, <b>грамматические признаки (род и <i>вид*</i>)</b>, <b>стилистические пометы</b>, <b>заимствования</b>.</td>
		    </tr>
		    <tr>
		      <td>Большой Энциклопедический словарь</td>
			  <td>Значение</td>
		    </tr>
		    <tr>
		      <td>Словарь русских синонимов и сходных по смыслу выражений</td>
			  <td>Синонимы</td>
		    </tr>
		    <tr>
		      <td>Словарь эпитетов</td>
			  <td>Значение, эпитеты</td>
		    </tr>
		    <tr>
		      <td>Словарь антонимов</td>
			  <td>Антонимы</td>
		    </tr>
		  </tbody>
		</table>
		<br>
		<p><b>*</b> Запрос с указанием <b>вида</b> даст результат только при поиске глаголов!</p>
		<h1 class="subtitle">Расшифровка словарных помет </h1>
		<div class="info col-md-4" style="font-size:14px;">
			<h4>Стилистические пометы</h4>
			<p><i>авиа.</i> — авиационное</p>
			<p><i>анат.</i> — анатомическое</p>
			<p><i>антроп.</i> — антропологическое</p>
			<p><i>археол.</i> — археологическое</p>
			<p><i>биол.</i> — биологическое</p>
			<p><i>бухг.</i> — бухгалтерское</p>
			<p><i>воен.</i> — военное</p>
			<p><i>вульг.</i> — вульгарное</p>
			<p><i>геогр.</i> — географическое</p>
			<p><i>геод.</i> — геодезическое</p>
			<p><i>геол.</i> — геологическое</p>
			<p><i>горн.</i> — горное</p>
			<p><i>грамм.</i> — грамматическое</p>
			<p><i>дипл.</i> — дипломатическое</p>
			<p><i>жарг.</i> — жаргонное</p>
			<p><i>ж.-д.</i> — железнодорожное</p>
			<p><i>зоол.</i> — зоологическое</p>
			<p><i>ирон.</i> — ироничное</p>
			<p><i>иск.</i> — искусствоведческое</p>
			<p><i>ист.</i> — историческое</p>
			<p><i>кино.</i> — кинематографическое</p>
			<p><i>книжн.</i> — книжное</p>
			<p><i>ласк.</i> — ласкательное</p>
			<p><i>лес.</i> — лесоводческое</p>
			<p><i>лингв.</i> — лингвистическое</p>
			<p><i>лит.</i> — литературное</p>
			<p><i>лог.</i> — логическое</p>
			<p><i>мед.</i> — медицинское</p>
			<p><i>муз.</i> — музыкальное</p>
			<p><i>нар.-поэт.</i> — народно-поэтическое</p>
			<p><i>нар.-разг.</i> — народно-разговорное</p>
			<p><i>неодобр.</i> — неодобрительное</p>
			<p><i>офиц.</i> — официальное</p>
			 <p><i>полигр.</i> — полиграфическое</p>
		</div>
		<div class="info col-md-4" style="font-size:14px;">
		  <br>
		  <br>
		  <p><i>почтит.</i> — почтительное</p>
		  <p><i>пренебр.</i> — пренебрежительное</p>
		  <p><i>психол.</i> — психологическое</p>
		  <p><i>публиц.</i> — публицистическое</p>
		  <p><i>пчел.</i> — пчеловодческое</p>
		  <p><i>разг.</i> — разговорное</p>
		  <p><i>разг.-сниж.</i> — разговорно-сниженное</p>
		  <p><i>рыб.</i> — рыболовецкое</p>
		  <p><i>сад.</i> — садовое</p>
		  <p><i>смягчит.</i> — смягчительное</p>
		  <p><i>спорт.</i> — спортивное</p>
		  <p><i>с.-х.</i> — сельско-хозяйственное</p>
		  <p><i>театр.</i> — театральное</p>
		  <p><i>типогр.</i> — типографское</p>
		  <p><i>уменьш.</i> — уменьшительное</p>
		  <p><i>трад.-нар.</i> — традиционно-народное</p>
		  <p><i>трад.-поэт.</i> — традиционно-поэтическое</p>
		  <p><i>уменьш.-ласк.</i> — уменьшительно-ласкательное</p>
		  <p><i>уничиж.</i> — уничижительное</p>
		  <p><i>фам.</i> — фамильярное</p>
		  <p><i>фарм.</i> — фармакологическое</p>
		  <p><i>физиол.</i> — физиологическое</p>
		  <p><i>физ.</i> — физическое</p>
		  <p><i>филос.</i> — философское</p>
		  <p><i>фото.</i> — фотографическое</p>
		  <p><i>хим.</i> — химическое</p>
		  <p><i>церк.</i> — церковное</p>
		  <p><i>цирк.</i> — цирковое</p>
		  <p><i>шутл.</i> — шутливое</p>
		  <p><i>экон.</i> — экономическое</p>
		  <p><i>электр.</i> — электрическое</p>
		  <p><i>ювел.</i> — ювелирное</p>
		</div>
		<div class="info col-md-4" style="font-size:14px;">
			<h4>Заимствования</h4>
			<p><i>азерб.</i> — азербайджанское</p>
			<p><i>англ.</i> — английское</p>
			<p><i>араб.</i> — арабское</p>
			<p><i>венг.</i> — венгерское</p>
			<p><i>греч.</i> — греческое</p>
			<p><i>голл.</i> — голландское</p>
			<p><i>др.-евр.</i> — древне-еврейское</p>
			<p><i>исп.</i> — испанское</p>
			<p><i>итал.</i> — итальянское</p>
			<p><i>казах.</i> — казахское</p>
			<p><i>монг.</i> — монгольское</p>
			<p><i>нем.</i> — немецкое</p>
			<p><i>норв.</i> — норвежское</p>
			<p><i>перс.</i> — персидское</p>
			<p><i>польск.</i> — польское</p>
			<p><i>португ.</i> — португальское</p>
			<p><i>румын.</i> — румынское</p>
			<p><i>санскр.</i> — санскрит</p>
			<p><i>сканд.</i> — скандинавское</p>
			<p><i>ст.-слав.</i> — старославянское</p>
			<p><i>тур.</i> — турецкое</p>
			<p><i>тюрк.</i> — тюркское</p>
			<p><i>тюрк.-монг.</i> — тюркско-монгольское</p>
			<p><i>узбек.</i> — узбекское</p>
			<p><i>укр.</i> — украинское</p>
			<p><i>фин.</i> — финское</p>
			<p><i>фр.</i> — французское</p>
			<p><i>швед.</i> — шведское</p>
			<p><i>япон.</i> — японское</p>
		</div>
	 </div>
	  <hr>

      <footer>
      </footer>
    </div>
    </body>
</html>