<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang=""> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="apple-touch-icon" href="apple-touch-icon.png">

        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
        <style>
            body {
                padding-top: 50px;
                padding-bottom: 20px;
            }
        </style>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

		<script src="{{ url_for('static', filename='js/vendor/modernizr-2.8.3-respond-1.4.2.min.js') }}"></script>
		<script src="{{ url_for('static', filename='js/main.js') }}"></script>
    </head>
    <body>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="Vyshka_slovari_main">Вышка.Словари</a>
		  <a class="navbar-brand" href="#">О проекте</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <form class="navbar-form navbar-right" role="form">
            <a type="submit" class="btn btn-success" href="Vyshka_slovari_enter" style="color:white">Войти</a>
			<a type="submit" class="btn btn-success" href="Vyshka_slovari_register" style="color:white">Регистрация</a>
          </form>
        </div><!--/.navbar-collapse -->
      </div>
    </nav>

	  <div class="container" class="col-md-12">
		<div class="info">
			<h2>Расширеный поиск</h2>
		<form name="extended" class="search">
		  <div class="extended_searchbar row">
		    <div class="col-md-4">
		      <h4>Часть речи</h4>
			  <input type="radio" name="pos" value="verb"> Глагол<br>
			  <input type="radio" name="pos" value="noun"> Существительное<br>
			  <input type="radio" name="pos" value="pron"> Местоимение<br>
			  <input type="radio" name="pos" value="adj"> Прилагательное<br>
			  <input type="radio" name="pos" value="adv"> Наречие<br>
			  <input type="radio" name="pos" value="num"> Числительное<br>
			  <input type="radio" name="pos" value="ptcl"> Частица<br>
			  <input type="radio" name="pos" value="prep"> Предлог<br>
			  <input type="radio" name="pos" value="inj"> Междометие
		      <h4>Грамматические признаки</h4>
		      <h5>Род</h5>
			  <input type="checkbox" name="gender" value="male"> Мужской<br>
			  <input type="checkbox" name="gender" value="female"> Женский<br>
			  <input type="checkbox" name="gender" value="neut"> Средний<br>
			  <input type="checkbox" name="gender" value="both"> Общий
		      <h5>Число</h5>
			  <input type="checkbox" name="number" value="sgtnt"> Singularia tantum<br>
			  <input type="checkbox" name="number" value="pltnt"> Pluralia tantum
		      <h5>Вид</h5>
			  <input type="checkbox" name="mode" value="perfect"> Совершенный<br>
			  <input type="checkbox" name="mode" value="imperfect"> Несовершенный
		    </div>
		    <div class="col-md-4">
		      <h4>Стилистические пометы</h4>
			  <input type="checkbox" name="style" value=""> Общеупотребительное<br>
			  <input type="checkbox" name="style" value=""> Разговорное<br>
			  <input type="checkbox" name="style" value=""> Грубое<br>
			  <input type="checkbox" name="style" value=""> Просторечное
		      <h4>Заимствования</h4>
			  <input type="checkbox" name="borrowed" value="rus"> исконно русское<br>
			  <input type="checkbox" name="borrowed" value="eng"> английское<br>
			  <input type="checkbox" name="borrowed" value="fra"> французское<br>
			  <input type="checkbox" name="borrowed" value="spa"> испанское<br>
			  <input type="checkbox" name="borrowed" value="ita"> итальянское<br>
			  <input type="checkbox" name="borrowed" value="lat"> латинское<br>
			  <input type="checkbox" name="borrowed" value="grk"> греческое<br>
		    </div>
		    <div class="col-md-4">
		      <h4>Словари</h4>
			  <input type="radio" name="dict" value="all_dict"> Все словари<br>
		      <h4>Толковые</h4>
			  <input type="checkbox" name="dict" value="mas"> Малый академический словарь<br>
			  <input type="checkbox" name="dict" value="kuznetsov"> Толковый словарь Кузнецова<br>
			  <input type="checkbox" name="dict" value="bes"> Большой энциклопедический словарь<br>
			  <input type="checkbox" name="dict" value="dal"> Словарь Даля<br>
			  <h4>Профессиональные</h4>
			  <input type="checkbox" name="dict" value="psyho"> Словарь психологических терминов<br>
			  <h4>Специализированные</h4>
			  <input type="checkbox" name="dict" value="synonym"> Словарь синонимов<br>
			  <input type="checkbox" name="dict" value="antonym"> Словарь антонимов<br>
			  <input type="checkbox" name="dict" value="wrongs"> Словарь неправильностей русского языка<br>
			  <input type="checkbox" name="dict" value="morph"> Морфемно-орфографический словарь<br>
			  <input type="checkbox" name="dict" value="ancient"> Словарь древнерусского языка<br>
		    </div>
	      </div>
		  <button type="submit" class="btn" style="float: right; margin-top: 5px;">Найти</button>
		</form>
		</div>
	  </div>
	  
	  <div class="container search-value">
	    {% block extended %} {% endblock %}
	  </div>
	  
		<hr>

      <footer>
	  
      </footer>
    </div>
    </body>
</html>
