<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang=""> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="apple-touch-icon" href="apple-touch-icon.png">

        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
        <style>
            body {
                padding-top: 50px;
                padding-bottom: 20px;
            }
        </style>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

		<script src="{{ url_for('static', filename='js/vendor/modernizr-2.8.3-respond-1.4.2.min.js') }}"></script>
		<script src="{{ url_for('static', filename='js/main.js') }}"></script>
    </head>
    <body>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{{ url_for('main_page') }}">Вышка.Словари</a>
		  <a class="navbar-brand" href="{{ url_for('about_page') }}">О проекте</a>
		  <a class="navbar-brand" href="{{ url_for('about_dict') }}">О словарях</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          {% include 'register.html' %}
        </div><!--/.navbar-collapse -->
      </div>
    </nav>

	  <div class="container" class="col-md-12">
		<div class="info">
			<h2>Расширенный поиск</h2>
		<form name="extended" class="search" action="{{ url_for('extended_search_page') }}" method='POST'>
		  <div class="extended_searchbar row">
		    <div class="col-md-4">
			  <h4>Часть речи</h4>
			  <p>{{ form.noun_field }}</p>
		    </div>
		    <div class="col-md-4">
			  <h4>Грамматические признаки</h4>
		      <h5>Род</h5>
			  <p>{{ form.gender_field }}</p>
			  <h5>Вид</h5>
			  <p>{{ form.aspect_field }}</p>
		    </div>  
		    <div class="col-md-4">
			  <h4>Словари</h4>
			  <p class='searchbar-text'>{{ form.dict_field(class_="searchfield") }}</p>
			  <h4>Стилистические пометы</h4>
			  <p>{{ form.marker_field(class_="searchfield") }}</p>
			  <h4>Заимствования</h4>
			  <p>{{ form.borrowings_field(class_="searchfield") }}</p>
		    </div>
		  </div>
		  <input class="btn" type="submit" value="Найти" style="float:right; margin-top: 5px;">
		  {% block button%} {% endblock %}
		</form>
		</div>
	  </div>
	  
	  <div class="container search-value">
	    {% block extended %} {% endblock %}
	  </div>
	  
		<hr>

      <footer>

      </footer>
    </div>
    </body>
</html>
