<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang=""> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Словари</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="apple-touch-icon" href="apple-touch-icon.png">
		
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
        <style>
            body {
                padding-top: 50px;
                padding-bottom: 20px;
            }
        </style>
        <!-- <link rel="stylesheet" href="bootstrap-theme.min.css"> -->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

		<script src="{{ url_for('static', filename='js/vendor/modernizr-2.8.3-respond-1.4.2.min.js') }}"></script>
		<script src="{{ url_for('static', filename='js/main.js') }}"></script>
    </head>
    <body>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Вышка.Словари</a>
		  <a class="navbar-brand" href="{{ url_for('about_page') }}">О проекте</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          {% include 'register.html' %}
        </div><!--/.navbar-collapse -->
      </div>
    </nav>

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
          <h2>Добро пожаловать на Вышка.Словари</h2>
          <p> Найдите информацию о нужном вам слове в один клик</p>
		<form name="search-form" role="form" onsubmit="return validateForm()" method="post">
	      <div class="searchbar row">
	        <h4 class="searchbar-text">Поиск по словарям</h4>
		    <div class="col-md-11">
              <input name="search-item" type="text" placeholder="Введите слово" class="searchfield" style="color:black">
			  <br>
			  <a class="extended_search" href="{{ url_for('extended_search_page') }}">Расширенный поиск</a>
			  <br>
			</div>
			<div class="col-md-1" style="width: 30px;">
			  <a type="submit" href="javascript: goToPage();" class="btn searchbar-find">Найти</a>
			  <script type= "text/javascript">
			    function goToPage() {
				  var url = document.forms["search-form"]["search-item"].value;
				  var main_p = "{{ url_for('main_page') }}";
				  document.location.href = main_p + "/" + url;
				}
				function validateForm() {
				  goToPage();
				  return false;
				}
			  </script>
			</div>
		  </div>
        </form>
	  </div>
    </div>
	
	<div class="container">
	  {% block random %}{% endblock%}
	</div>
	
	<div class="container search-value">
	  {% block content %}{% endblock %}
	</div>

      <hr>

	<div>

      <footer>

      </footer>
    </div>
    </body>
</html>
