<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang=""> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="apple-touch-icon" href="apple-touch-icon.png">

        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
        <style>
            body {
                padding-top: 50px;
                padding-bottom: 20px;
            }
        </style>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

		<script src="{{ url_for('static', filename='js/vendor/modernizr-2.8.3-respond-1.4.2.min.js') }}"></script>
		<script src="{{ url_for('static', filename='js/main.js') }}"></script>
    </head>
    <body>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{{ url_for('main_page') }}">Вышка.Словари</a>
		  <a class="navbar-brand" href="#">О проекте</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <form class="navbar-form navbar-right" role="form">
            <a type="submit" class="btn btn-success" href="{{ url_for('enter_page') }}" style="color:white">Войти</a>
			<a type="submit" class="btn btn-success" href="{{ url_for('register_page') }}" style="color:white">Регистрация</a>
          </form>
        </div><!--/.navbar-collapse -->
      </div>
    </nav>

	  <div class="container" class="col-md-12">
		<div class="info">
			<h2>О проекте</h2>
		  	<p> Вышка.Словари - это словарь-агрегатор, в котором можно искать сразу по нескольким словарям. </p>
			<p> Информация о слове появляется в "карточках". Сейчас на сайте доступны следующие "карточки": </p>
			<ul style="list-style-type:circle">
			  <li>толкование</li>
			  <li>примеры употребления</li>
			  <li>грамматическая информация</li>
			  <li>ударение</li>
			  <li>антонимы</li>
			  <li>синонимы</li>
			  <li>эпитеты</li>
			  <li>этимология</li>
			  <li>пометы</li>
			</ul>
			<p> У нас также есть расширенный поиск, который позволяет найти все слова по заданным характеристикам (например, все заимствования из французского). </p>
			<br>
			<h2> Чем ещё хороши Вышка.Словари? </h2>
			<p> Любой пользователь может сделать свой вклад в развитие проекта и загрузить на сайт свой словарь в формате tei, размеченный в соответствии с нашей инструкцией. </p>
			<br>
			<h2> Ссылки </h2>
			<p><a href = "https://github.com/Dashershneva/Slovari">Проект на Github</a></p>
			<p><a href = "http://hsecompling.wikispaces.com/-/M16-18/%D0%92%D1%8B%D1%88%D0%BA%D0%B0.%D0%A1%D0%BB%D0%BE%D0%B2%D0%B0%D1%80%D0%B8/home">Проект на Wikispaces</a></p>
			<br>
			<h2>Участники проекта</h2>
			<ul style="list-style-type:disc">
			  <li>Даниил Грачев</li>
			  <li>Варвара Гуц</li>
			  <li>Марк Мальцев</li>
			  <li>Сергей Михайлов</li>
			  <li>Эльмира Мустакимова</li>
			  <li>Дарья Шершнева</li>
			</ul>
			<br>
			<h2>Контакты</h2>
			<ul style="list-style-type:disc">
			  <li>Варвара: varvarahuts@gmail.com</li>
			  <li>Дарья: d.shershneva@gmail.com </li>
			  <li>Сергей: serdgh2011@yandex.ru </li>
			</ul>
		</div>
	  </div>
	  
	  <hr>

      <footer>

      </footer>
    </div>
    </body>
</html>