

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
.searchbar {
	background-color: #3c3c3c;
	color: white;
	padding: 10px;
	border-radius: 7px;
}
.searchfield {
	width: 93%;
	border-radius: 5px;
	padding: 3px;
	height: 35px;
}
.searchbar-text {
	margin: 3px;
	padding-bottom: 3px;
	padding-top: 3px;
}
.searchbar-find {
	color: #fff;
	background-color: #5cb85c;
	border-color: #4cae4c;
}
.info {
	font-size: 22px;
	padding: 30px 15px;
	margin-bottom: 30px;
}
.register {
	width: 25%;
	margin: 5px;
	font-size: 14px;
}














